table.TableOverride-1 {
	border-collapse:collapse;
	border-color:#ffffff;
	border-width:2px;
}
td.CellOverride-1 {
	background-color:#efefef;
	border-bottom-color:#ffffff;
	border-bottom-width:2px;
	border-left-color:#ffffff;
	border-left-width:2px;
	border-right-color:#ffffff;
	border-right-width:2px;
	border-top-color:#ffffff;
	border-top-width:2px;
}
li.ParaOverride-1 {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:18px;
	text-indent:0px;
}
span.CharOverride-1 {
	
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-2 {
	
	font-style:normal;
	font-weight:bold;
}
span._idGenCharOverride-1 {
	
}
span._idGenCharOverride-2 {
	font-size:58%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
