span.CharOverride-1 {
	
	font-style:italic;
	font-weight:normal;
}
span._idGenCharOverride-1 {
	
}
span._idGenCharOverride-2 {
	font-size:58%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
