li.ParaOverride-1 {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:18px;
	text-indent:0px;
}
span.CharOverride-1 {
	
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	
	font-style:italic;
	font-weight:normal;
}
span._idGenCharOverride-1 {
	
}
span._idGenCharOverride-2 {
	font-size:58%;
}
img._idGenObjectAttribute-1 {
	height:293px;
	width:334px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
